<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.25">
    <title>Tatico Grafico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/grafico2.js') }}" defer></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div class="container">
        <div class="coluna-esquerda">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
          <h5>Menu</h5>
<h3>
    <img src="{{ url_for('static', filename='images/Dashboard.png') }}" alt="Dashboard.png" style="width: 24px; height: 24px;">
    Dashboard
</h3>
<h3>
    <img src="{{ url_for('static', filename='images/Curso.png') }}" alt="Curso.png" style="width: 24px; height: 24px;">
    Course
</h3>
<h3>
    <img src="{{ url_for('static', filename='images/perfil.png') }}" alt="perfil.png" style="width: 24px; height: 24px;">
    Profile
</h3>

        </div>
        <div class="coluna-direita">
            <h2>Tatico Fechamento Comercial</h2>
            <p>relatório de dados do Tatico</p>
            <div class="conteiner-charts">
                <div class="coluna-dentroDireita" id="chartContainer">

                        <div id="chart1" class="chart-container"></div>
                        <div id="chart2" class="chart-container"></div>
                        <div id="chart3" class="chart-container"></div>
                        <div id="chart4" class="chart-container"></div>
                        <div id="chart5" class="chart-container"></div>
                        <div id="chart6" class="chart-container"></div>
                        <div id="chart7" class="chart-container"></div>
                        <div id="chart8" class="chart-container"></div>
                        <div id="chart9" class="chart-container"></div>
                 </div>
                <div class="coluna-dentroDireita" id="chartContainer2022">
                   <div id="chart_div_1"></div>


                </div>
            </div>
        </div>
    </div>


</body>
</html>
