<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=0.25">
    <title>Tatico Grafico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
       <div class="coluna-esquerda">
        <div class="laranja">
            <div class="slogan">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            </div>
            <div class="menu-esquerdo"><a href="">Menu</a></div>
            <div class="outros-itens">
                <h3>
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}" alt="Dashboard.png"
                         style="width: 24px; height: 24px;">
                    <a href="">Dashboard</a>
                </h3>
                <h3>
                    <img src="{{ url_for('static', filename='images/Curso.png') }}" alt="Curso.png"
                         style="width: 24px; height: 24px;">
                    <a href="">Course</a>
                </h3>
                <h3>
                    <img src="{{ url_for('static', filename='images/perfil.png') }}" alt="perfil.png"
                         style="width: 24px; height: 24px;">
                    <a href="">Profile</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="coluna-charts">
        <div class="azul-chart1">
            <div class="ano1vertical">Ano 1</div>
            <div class="charts1" id="chartContainer">
                <div id="legendDiv"></div>
                <div id="chart12023" class="chart-div-top"></div>
                <!-- ... rest of your charts for the first year ... -->
                <div id="chart22023" class="chart-div"></div>
                <div id="chart32023" class="chart-div"></div>

                <div id="chart42023" class="chart-div"></div>
                <div id="chart52023" class="chart-div"></div>
                <div id="chart62023" class="chart-div"></div>
                <div id="chart72023" class="chart-div"></div>
                <div id="chart82023" class="chart-div"></div>
                <div id="chart92023" class="chart-div-last"></div>
            </div>
        </div>
        <div class="azul-chart2">
            <div class="ano2vertical">Ano 2</div>
            <div class="charts2" id="charts2022">
                <div id="chart12022" class="chart-div-top"></div>
                <!-- ... rest of your charts for the second year ... -->

                <div id="chart22022" class="chart-div"></div>
                <div id="chart32022" class="chart-div"></div>
                <div id="chart42022" class="chart-div"></div>
                <div id="chart52022" class="chart-div"></div>
                <div id="chart62022" class="chart-div"></div>
                <div id="chart72022" class="chart-div"></div>
                <div id="chart82022" class="chart-div"></div>
                <div id="chart92022" class="chart-div-last"></div>
            </div>
        </div>
    </div>

</body>
</html>