User
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=0.25">
    <title>Tatico Grafico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>

<body>
<div class="container">
    <div class="coluna-esquerda">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <a href="">Menu</a>
        <h3>
            <img src="{{ url_for('static', filename='images/Dashboard.png') }}" alt="Dashboard.png"
                 style="width: 24px; height: 24px;">
            <a href="">Dashboard</a>
        </h3>
        <h3>
            <img src="{{ url_for('static', filename='images/Curso.png') }}" alt="Curso.png"
                 style="width: 24px; height: 24px;">
            <a href="">Course</a>
        </h3>
        <h3>
            <img src="{{ url_for('static', filename='images/perfil.png') }}" alt="perfil.png"
                 style="width: 24px; height: 24px;">
            <a href="">Profile</a>
        </h3>

    </div>
    <div class="coluna-direita">
        <h2>Tatico Fechamento Comercial</h2>
        <p>relatório de dados do Tatico</p>
        <div class="chart-container">
            <div class="coluna-dentroDireita" id="chartContainer">
                <div id="legendDiv"></div>

                 <div id="chart12023" class="chart-div-top"></div>
    <div id="chart22023" class="chart-div"></div>
    <div id="chart32023" class="chart-div"></div>
    <div id="chart42023" class="chart-div"></div>
    <div id="chart52023" class="chart-div"></div>
    <div id="chart62023" class="chart-div"></div>
    <div id="chart72023" class="chart-div"></div>
    <div id="chart82023" class="chart-div"></div>
    <div id="chart92023" class="chart-div-last"></div>


                <div class="containerTable">

                    <div class="container-infoTable">
                        <table>
                            <tr>
                                <td>VENDAS</td>
                               <td style="color: blue;">6.430.133</td>
                                <td style="color: white;">ENTRADAS</td>
                                <td style="color: orange;">7.195,786</td>
                                <td style="color: white">89%</td>
                            </tr>
                            <tr>
                                <td style="color: white">EVOLUÇÃO</td>
                                <td style="color: white">FAT</td>
                                <td style="color: #3c6fce">16,81%</td>
                                <td style="color: white">RENT</td>
                                <td style="color: yellow">18,21%</td>
                            </tr>
                        </table>

                    </div>

                    <div class="container-infoSoma">
                        <table>
                            <tr>
                                <td>SOMA</td>
                                <td>38.932.148,87</td>
                                <td>Média</td>
                                <td>12.977.382,96</td>
                                <td>2.590.037,44</td>
                                <td>19,96%</td>
                                <td>11.538</td>
                                <td>8.549.152,04</td>
                                <td>2.143.377,81</td>
                                <td>946.598,86</td>
                                <td>13.435</td>
                            </tr>

                        </table>

                    </div>

                </div>


            </div>
{#<div style="writing-mode: vertical-rl;"> 2022</div>#}
            <div id="charts2022">

                <div id="chart12022" class="chart-div-top"></div>
                <div id="chart22022" class="chart-div"></div>
                <div id="chart32022" class="chart-div"></div>
                <div id="chart42022" class="chart-div"></div>
                <div id="chart52022" class="chart-div"></div>
                <div id="chart62022" class="chart-div"></div>
                <div id="chart72022" class="chart-div"></div>
                <div id="chart82022" class="chart-div"></div>
                <div id="chart92022" class="chart-div-last"></div>


            </div>
        </div>
    </div>
</div>
</body>

</html>