<select id="tipo">
    <option value="Selecione o tipo">Selecione o tipo</option>
    <option value="Faturamento">Faturamento</option>
    <option value="Comercial">Análise Comercial</option>
    <option value="Metarealizado">Meta Realizado</option>
</select>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    // Quando a página é carregada, define a seleção com base no valor armazenado em LocalStorage
    var saved_option = localStorage.getItem('selected_option');
    if (saved_option) {
        $('#tipo').val(saved_option);
    }

    $('#tipo').change(function() {
        var selected_option = $(this).val();

        // Salva o valor selecionado em LocalStorage
        localStorage.setItem('selected_option', selected_option);
        
        
        switch(selected_option) {
            case 'Faturamento':
                window.location.href = 'http://127.0.0.1:5000/faturamento';
                break;
            case 'Comercial':
                window.location.href = 'http://127.0.0.1:5000/analisecomercial';
                break;
            case 'Metarealizado':
                window.location.href = 'http://127.0.0.1:5000/metarealizado';
                break;
            default:
                // default URL if none of the options match
                window.location.href = 'http://127.0.0.1:5000/';
        }
    });
});
</script>
<select id="secao">
    <option value="GERAL">GERAL</option>
    <option value="VESTUARIO">VESTUARIO</option>
    <option value="ALIMENTOS SALGADO">ALIMENTOS SALGADO</option>
    <option value="FRIOS ACHOCOLATADOS">FRIOS ACHOCOLATADOS</option>
    <option value="PEIXES RESFRIADOS">PEIXES RESFRIADOS</option>
    <option value="FRIOS ACHOCOLATADOS">FRIOS ACHOCOLATADOS</option>
    <option value="PEIXES RESFRIADOS">PEIXES RESFRIADOS</option>
    <option value="BASICO">BASICO</option>
    <option value="PADARIA PROPRIA">PADARIA PROPRIA</option>
    <option value="HIGIENE">HIGIENE</option>
    <option value="GERAL">GERAL</option>
    <option value="ALIMENTOS DOCE">ALIMENTOS DOCE</option>
    <option value="PAPEL HIGIENICO">PAPEL HIGIENICO</option>
    <option value="UTILIDADES DOMESTICA">UTILIDADES DOMESTICA</option>
    <option value="PADARIA INDUSTRIAL">PADARIA INDUSTRIAL</option>
    <option value="LIMPEZA DOMESTICA">LIMPEZA DOMESTICA</option>
    <option value="OVOS">OVOS</option>
    <option value="FRIOS">FRIOS</option>
    <option value="PAPELARIA">PAPELARIA</option>
    <option value="ALHO">ALHO</option>
    <option value="FRIOS LATICINIOS">FRIOS LATICINIOS</option>
    <option value="ACOUGUE">ACOUGUE</option>
    <option value="HORT FRUT">HORT FRUT</option>
    <option value="LEITE">LEITE</option>
    <option value="FRIOS CONGELADOS">FRIOS CONGELADOS</option>
    <option value="PET SHOP">PET SHOP</option>
    <option value="AUTOS">AUTOS</option>
    <option value="BEBIDAS DEST E VINHO">BEBIDAS DEST E VINHO</option>
    <option value="BEBIDAS REFRIGERADAS">BEBIDAS REFRIGERADAS</option>
    <option value="TABACARIA">TABACARIA
    </option>

</select>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var saved_option = localStorage.getItem('selected_option_secao');
    if (saved_option) {
        $('#secao').val(saved_option);
    }

    $('#secao').change(function() {
        var selected_option = $(this).val();

        // Salva o valor selecionado em LocalStorage
        localStorage.setItem('selected_option_secao', selected_option);

        var tipo = $('#tipo').val();
        var secao = $(this).val();
        var year = $('#year-select').val()-1;
        var loja = $('#loja').val();
        window.location.href = 'http://127.0.0.1:5000/' + tipo.toLowerCase() + '/' + secao+ '/' + loja+ '/'+ year;
    });                
});
</script>


<select id="loja">
        <option value="GERAL">GERAL</option>
        <option value="PORTAL">PORTAL</option>
        <option value="CENTRO">CENTRO</option>
        <option value="PAPILLON">PAPILLON</option>
        <option value="T7">T7</option>
        <option value="CAMPINAS">CAMPINAS</option>
        <option value="GARAVELO">GARAVELO</option>
        <option value="GERAL">GERAL</option>
    </option>

</select>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var saved_option = localStorage.getItem('selected_option_loja');
    if (saved_option) {
        $('#loja').val(saved_option);
    }

    $('#loja').change(function() {
        var selected_option = $(this).val();

        // Salva o valor selecionado em LocalStorage
        localStorage.setItem('selected_option_loja', selected_option);

        var tipo = $('#tipo').val();
        var secao = $('#secao').val();
        var year = $('#year-select').val()-1;
        var loja = $(this).val();
        window.location.href = 'http://127.0.0.1:5000/' + tipo.toLowerCase() + '/' + secao+ '/' + loja+ '/'+ year;
    });                
});
</script>

<select id="year-select">
    <option value="ano">ano</option>
    <script>
    $(document).ready(function() {
        var currentYear = new Date().getFullYear()+1;
        var startYear = 2016;
        var options = "";
        for (var year = currentYear ; year >= startYear ; year--){
            options += "<option value='" + year + "'>" + year + "</option>";
        }
        $('#year-select').html(options);
    });
</script>
</select>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#year-select').change(function() {
      var tipo = $('#tipo').val();
      var secao = $('#secao').val();
      var loja = $('#loja').val();
      var ano = $(this).val()-1;
      var url = 'http://127.0.0.1:5000/' + tipo.toLowerCase() + '/' + secao+ '/' + loja+ '/'+ year;
      window.location.href = url;
    });
  });
  </script>
  



