/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do container */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre as colunas */
}

/* Estilos da coluna esquerda */
.coluna-esquerda {
    flex: 0;
}

/* Estilos da coluna-direita */
.coluna-direita {
    flex: 3; /* Ajuste este valor para controlar a largura da coluna-direita */
    background-color: #E6E6E6; /* Adicionando cor de fundo à coluna-direita */
    padding: 10px; /* Adicionando espaço interno */
    border-radius: 10px; /* Adicionando bordas arredondadas */
}

/* Estilos da coluna-dentroDireita */
.coluna-dentroDireita {
    background-color: #424242; /* Adicionando cor de fundo à coluna-dentroDireita */
    border-radius: 10px; /* Adicionando bordas arredondadas */
}

.chart-container {
  margin: 10px;
}

/* Estilos do gráfico */
#curve_chart {
    margin: 0 auto;
    display: block;
}

/*.chart-year {*/
/*    position: absolute;*/
/*    left: 150px;*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    transform: rotate(-90deg);*/
/*    transform-origin: center;*/
/*}*/

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* Estilos para telas pequenas (até 480px) */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  /* Outros estilos específicos para telas pequenas */
}

/* Estilos para telas médias (até 768px) */
@media (max-width: 768px) {
  /* Estilos específicos para telas médias */
}

/* Estilos para telas grandes (acima de 768px) */
@media (min-width: 769px) {
  /* Estilos específicos para telas grandes */
}
