/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

/* Estilos do container */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre as colunas */
}

/* Estilos da coluna esquerda */
.coluna-esquerda {
    flex: 0;
}

/* Estilos da coluna-direita */
.coluna-direita {
    flex: 3; /* Ajuste este valor para controlar a largura da coluna-direita */
    background-color: #E6E6E6; /* Adicionando cor de fundo à coluna-direita */
    padding: 10px; /* Adicionando espaço interno */
    border-radius: 10px; /* Adicionando bordas arredondadas */
}

/* Estilos da coluna-dentroDireita */
.coluna-dentroDireita {
    background-color: #424242; /* Adicionando cor de fundo à coluna-dentroDireita */
    border-radius: 10px; /* Adicionando bordas arredondadas */
}

.chart-container {
  margin: 10px;
}

/* Estilos do gráfico */
#curve_chart {

}
.chart-div {
    height: 65px;
}
.chart-div-top {

    height: 68px;
}
.chart-div-last {
    height: 109px;
}


 /*table*/
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
}

/*container table*/
.containerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}