/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do container */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre as colunas */
}

/* Estilos da coluna esquerda */
.coluna-esquerda {
    flex: 0;
}

/* Estilos da coluna-direita */
.coluna-direita {
    flex: 3; /* Ajuste este valor para controlar a largura da coluna-direita */
    background-color: #E6E6E6; /* Adicionando cor de fundo à coluna-direita */
    padding: 10px; /* Adicionando espaço interno */
    border-radius: 10px; /* Adicionando bordas arredondadas */
}

/* Estilos da coluna-dentroDireita */
.coluna-dentroDireita {
    background-color: #424242; /* Adicionando cor de fundo à coluna-dentroDireita */
    border-radius: 10px; /* Adicionando bordas arredondadas */
}

.chart-container {
    margin: 10px;
}

/* Estilos do gráfico */
#curve_chart {
    height: 250px;
}

.chart-div {
    height: 65px;
}

.chart-div-top {
    height: 68px;
}

.chart-div-last {
    height: 109px;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
}

/* Estilos do container da tabela */
.containerTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    padding-left: 250px;
    padding-right: 250px;"
}

#chart-div svg g:last-of-type line {
  display: none;
}
.container-infoTable table,
.container-infoTable td {
    border: 1px solid #FFFFFF;
}
#legendDiv {
    font-size: 20px;
    color: white;
}
