body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.coluna-esquerda {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.laranja {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slogan, .menu-esquerdo, .outros-itens {
    margin: 10px;
}

.menu {
    flex: 1;
}

.coluna-charts {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.azul-chart1, .azul-chart2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ano1vertical, .ano2vertical, .charts1, .charts2 {
    margin: 10px;
}
